body {
  margin: 0;
  padding: 10px;
}

h1 {
  font-size: 50px;
  color: rgb(241, 163, 19);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
.greeting {
  font-weight: 400;
}

.container .row {
  border: 1px solid black;
  height: 50px;
  /*margin: 5px 0 0 0; top bottom right left, if only two numbers, it means (top&bottom) and (right&left)*/
  margin-bottom: 25px;
}
.container .row:last-child {
  margin-bottom: 0;
}

/* .container > h1:first-child {
  color: green;
} */
.container > h1:nth-child(2n + 1) {
  color: green;
}

h1 {
  font: 50px;
  color: orange;
}
#my-header {
  color: orangered;
}
.greeting {
  font-size: 75px;
  color: white;
  background-color: blueviolet;
}
